*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: #388b6f;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}
body{
    background: white;
}
/*--==========header===================*/
.header{
    background: white;
    width: 100%;
    box-shadow: 0px 1px 1px black;
}
.header nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 80px;
    display: flex;
}
nav.content .logo a img{
    width: 150px;
}
nav .content .links li{
    list-style: none;
    line-height: 70px;
}
#first{
    color: #388b6f;
}
.content .links li a,
.content .links li label{
    color: black;
    font-size: 18px;
    padding: 9px 17px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    color: #388b6f;
}
.header .search-icon,
.header .menu-icon{
    color: #388b6f;
    font-size: 18px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
.header .menu-icon{
    display: none;
}
.header #show-search:checked ~ .search-icon i::before{
    content: "/f00d";
}
.hrader .search-box{
    position: absolute;
    width: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.header #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: black;
    background: white;
    padding: 0px 100px 0px 15px;
}
.search-box input::placeholder{
    color: black;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50px);
    line-height: 60px;
    width: 70px;
    background: #388b6f;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.header input[type="checkbox"]{
    display: none;
}

@media screen and(max-width:1250px) {
    .header nav{
        max-width: 100%;
        padding: 0px 20px;
    }
    nav .content .links{
        margin-left: 30px;
    }
    .content .links a{
        padding: 8px 13px;
    }
    .header .search-box{
        max-width: calc(100% - 100px);
    }
    .header .search-box input{
        padding: 0px 100px 0px 15px;
    }
}
@media screen and (max-width:900px) {
    .header .menu-icon{
        display: block;
    }
    .header #show-menu:checked ~ .menu-icon i::before{
        content: "/f00d";
    }

nav .content .links{
    display: block;
    position: fixed;
    background: white;
    width: 100%;
    height: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;

}
}

/*==============home section======*/
.home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(./images/background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.home .main-text{
    text-align: center;
    padding: 150px 10% 10px;
}
.main-text h1{
    font-size: 60px;
    color: #fff;
    text-shadow: 0px 0px 1px black;
}
.home .main-text p{
    color: white;
    margin-top: 10px;
}
#btn{
    width: 200px;
    height: 36px;
    font-weight: bold;
    background: white;
    color: #388b6f;
    letter-spacing: 1px;
    border: 2px solid #388b6f;
    border-radius: 5px;
    margin-top: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#btn:hover{
    background-color: #388b6f;
    color: white;
}
/*--=======offers==========*/
.offers{
    padding: 10px 8% 20px;
    background: #f3f3f3;
}
.offer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 0.90rem;
    margin-top: 30px;
}
.offer-content .row{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}
.offer-content .row i{
    font-size: 50px;
    color: #388b6f;

}
.offer-content .row h3{
    margin-left: 5px;
}
.offer-content .row p{
    margin-left: 5px;
}
@media (max-width:920px) {
    .offer-content{
        grid-template-columns: 1fr;
        
    }
    
}
/*----====About section=====*/

.about{
    padding: 150px 8% 1px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
.about-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
}
.about-text h3{
    color: #388b6f;
    font-size: 30px;
    line-height: 1;
}
.about-text p{
    color: black;
    letter-spacing: 1px;
    margin-bottom: 4rem;
    margin-top: 10px;
}
#about-btn{
    width: 150px;
    height: 35px;
    background: white;
    border: 2px solid #388b6f;
    color: #388b6f;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background: #388b6f;
    color: white;
}
@media (max-width:920px) {
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}
/*=====product===============*/
.ptoduct{
    padding: 10px 8% 120px;

}
.main-txt{
    text-align: center;
    margin-top: 80px;
}
.main-txt h3{
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    color: #388b6f;
    text-shadow: 0px 1px 1px black;
}
.card-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    align-items: center;
    gap: 0.90rem;
    margin-top: 30px;
}
.card-content .row{
    background: #f3f3f3;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}
.row img{
    width: 100%;
    display: block;
    
}
.card-body{
    padding: 10px;
}
.card-body h3{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 550;
    color: #388b6f;
    text-shadow: 0px 1px 1px black;
}
.card-body p{
    font-weight: 500;
    margin-top: 5px;
    letter-spacing: 1px;
}
.card-body h5{
    margin-top: 5px;
    font-size: 18px;

}
.card-body button{
    width: 130px;
    height: 30px;
    font-weight: 550;
    margin-top: 5px;
    background: transparent;
    color: #388b6f;
    border-radius: 5px;
    border: 2px solid #388b6f;
    transition: 0.5s;
    cursor: pointer;
}
.card-body button:hover{
    background: #388b6f;
    color: white;
}
@media (max-width:920px) {
   .card-content{
    grid-template-columns: 1fr;
   } 
}
/*=============banner start==============*/
.banner{
    width: 100%;
    height: 60vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
}
.banner-content{
    text-align: center;
    padding: 150px 10% 10px;
}
.banner-content{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.banner-content h3{
    color: #f3f3f3;
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
}
.banner-content p{
    color: white;
    font-size: 16px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    text-shadow: 0px 1px 1px black;
}
.banner-content button{
    width: 160px;
    height: 36px;
    margin-top: 10px;
    background: transparent;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
}
.banner-content button:hover{
    background: #388b6f;
    border: none;
}
/*========Our gallary ==========*/
.gallary{
    padding: 0px 8% 120px;
}
.gallary h3{
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 600;
    color: #388b6f;
    text-shadow: 0px 1px 1px black;
}
.gallary-img{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.gallary-img img{
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    gap: 0.50rem;
    transition: 0.5s;
    cursor: pointer;
}
.gallary-img img:hover{
    transform: translateY(-10px);
}
@media (max-width:920px) {
    .gallary-img{
        grid-template-columns: 1fr;
    }
    .gallary-img img{
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}